/** 
 * Home background 
 */
#home.page {
  position: relative;
  overflow: hidden;
}

#home.page:before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(/src/assets/images/home/bg_home2.jpg) center / cover no-repeat;
  filter: blur(4px);
  transform: scale(1.08);
  will-change: transform;
  z-index: 0;
}

/** 
 * Content 
 */
#home .title {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: calc(var(--fs-2xl) + 8px);
  letter-spacing: -0.05rem;
  word-break: keep-all;
  font-family: 'SCDream';
}

#home .title p {
  margin: 0;
}

#home .title p:first-of-type {
  font-family: var(--font-english);
  font-size: calc(var(--fs-xl) + 2px);
  letter-spacing: 0.5rem;
}

#home .title p:first-of-type span {
  letter-spacing: 0.1rem;
}

.title-up-enter-from {
  opacity: 0;
  transform: translateY(0);
}
.title-up-enter-active {
  transition:
    opacity 0.8s ease 0.15s,
    transform 0.8s ease 0.15s;
}
.title-up-enter-to {
  opacity: 1;
  transform: translateY(-65px);
}
#home .title.shifted {
  transform: translateY(-65px);
}

/** 
 * Scroll down 
 */
.scrolldown {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
  text-align: center;
  z-index: 2;
  width: 2.8rem;
}
.scrolldown span {
  display: block;
}
.scrolldown .mouse {
  position: relative;
  margin-bottom: 1rem;
  animation: bounceLinear 2s alternate infinite;
}
.scrolldown .arrow img {
  display: block;
  margin: 0 auto 0.25rem;
  animation-name: bounceAlpha;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.scrolldown .arrow img:nth-of-type(2) {
  animation-delay: 0.2s;
}
.scrolldown .arrow img:nth-of-type(3) {
  animation-delay: 0.4s;
}
@keyframes bounceLinear {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateY(5px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateY(-5px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/**
 * Mobile 전환
 */
@media (max-width: 874px) {
  #home .title {
    font-size: calc(var(--fs-2xl) + 3px);
  }
  #home .title p:last-of-type {
    line-height: 3rem;
    padding-top: 5px;
  }
}
